<br>
<br>
<div class="container castle">
  <div class="card-trip">
    <% if @castle.photo.attached? %>
      <%= cl_image_tag(@castle.photo.key) %>
    <% else %>
      <%= image_tag('Cinderella_Castle1.jpg') %>
    <% end %>
    <div class="card-trip-infos">
      <div>
        <h1><%= @castle.name %></h1>
        <br>
        <p><%= @castle.description %></p>
      </div>
      <br>
      <div class="cost">
        <h2 class="card-trip-pricing"><%= @castle.price %> € par nuit</h2>
      </div>
    <% if policy(@castle).update? %>
      <div class="back">
          <%= link_to 'Modifier', edit_castle_path, class: 'link' %>
      </div>
    <% end %>
    </div>
  </div>
</div>
<div class="reviews">
  <h3>Commentaires :</h3>
  <% if @reviews.empty? %>
    <small><em class="text-muted">Soyez le premier à laisser un commentaire!</em></small>
  <% end %>
  <% @reviews.each do |review|  %>
    <% review.rating.times do %>
      <i class="fas fa-star star-yellow"></i>
    <% end %>
    <p> <i class="fa-solid fa-quote-left"> </i> <%= review.comment %> <i class="fa-solid fa-circle", style="font-size: 5px; color: grey"></i> <em>par <%= review.user.nickname %>
        <i class="fa-solid fa-circle", style="font-size: 5px; color: grey"></i> <small><em><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></p>
    <% if policy(@review).destroy? %>
      <%= link_to castle_path(@review.castle), class: 'trash',
        method: :delete,
        data: { confirm: "Are you sure?" } do%>
        <i class="fa-regular fa-trash-can"></i>
        <% end %>
    <% end %>
  <% end %>

</div>
<div class="container new">
  <div class="container title">
    <h1>Ajoutez un commentaire</h1>
  </div>
  <div class="container form">
    <%= simple_form_for [@castle, @review] do |f| %>
      <%= f.input :comment, label: "commentaire" %>
      <%= f.input :rating, as: :hidden  %>
        <div class="my-3">
          <% Review::AUTHORIZED_RATINGS.each do |index| %>
            <i id="<%= index %>" class="review-rating far fa-star"></i>
          <% end %>
        </div>
      <%= f.submit 'Commentez', class:'link' %>
    <% end %>
  </div>
</div>
<br>
<br>
<div class="container title">
  <h1>Réservez votre séjour !</h1>
</div>
<div class="container-simple-form">
  <%= simple_form_for([@castle,@booking]) do |f| %>
      <%= f.input :start_date, label: 'Date de début du séjour :' %>
      <%= f.input :end_date, label: 'Date de fin du séjour :' %>
      <%= f.submit "Réservez", class: 'booklink' %>
  <% end %>
</div>
<h2 id="Réservez!"></h2>
<div class="back">
      <%= link_to 'Retour', castles_path, class: 'link' %>
  </div>
