<br>
<br>


<div class="container castle">
  <div class="card-trip">
    <% if @castle.photo.attached? %>
      <%= cl_image_tag(@castle.photo.key) %>
    <% else %>
      <%= image_tag('Cinderella_Castle1.jpg') %>
    <% end %>
    <div class="card-trip-infos">
      <div>
        <h1><%= @castle.name %></h1>
        <br>
        <p><%= @castle.description %></p>
      </div>
      <br>
      <div class="cost">
        <h2 class="card-trip-pricing"><%= @castle.price %> € par nuit</h2>
      </div>
  </div>
    </div>
  </div>
</div>

<div class="reviews">
  <% @reviews.each do |review|  %>
    <p> <i class="fa-solid fa-quote-left"> </i> <%= review.comment %> - note : <%= review.rating %>/5 <em>by <%= review.user.nickname %></em></p>
  <% end %>
</div>

<div class="container choice">
  <div class="back">
      <%= link_to 'Retour', castles_path, class: 'link' %>
  </div>

  <% if policy(@castle).update? %>
  <div class="back">
    <%= link_to 'Modifier', edit_castle_path, class: 'link' %>
  </div>
  <% end %>

  <div class="back">
    <%= link_to 'Avis', new_castle_review_path(@castle), class: 'link' %>
  </div>
</div>

<div class="container-simple-form">
  <%= simple_form_for([@castle,@booking]) do |f| %>
      <%= f.input :start_date, label: 'Date de début du séjour :' %>
      <%= f.input :end_date, label: 'Date de fin du séjour :' %>
      <%= f.submit "Réservez", class: 'booklink' %>
  <% end %>
</div>
<h2 id="Réservez!"></h2>
